#root {
  padding: 2vmin;
  text-align: center;
}

body {
  background-color: bisque;
  color: darkmagenta;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

button {
  border-radius: 5px;
  color: darkmagenta;
  background-color: burlywood;
  font-size: 4vmin;
  border: 1.5px solid black;
}

a {
  margin-right: 1vmin;
  margin-left: 1vmin;
  margin-bottom: 1vmin;
  text-shadow: -.25px .25px black;
}

.header {
  text-shadow: -.25px .25px black;
  font-size: 5vmin;
}

.myProfile {
  max-width: 42vmin;
  border-radius: 50%;
}

.card {
  padding: 2em;
}